@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

$ec-color-primary: #676767;
$ec-color-card-bg: #ffffff;
$ec-color-more-btn: #afafaf;

$ec-font-family: 'Montserrat', sans-serif;
$ec-basic-font-size: 13px;

.element-card {
    font-family: $ec-font-family;
    font-size: $ec-basic-font-size;
    font-weight: 300;
    color: $ec-color-primary;
    background-color: $ec-color-card-bg;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

    .image-container {
        background-position: center;
        background-size: cover;
        min-height: 250px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .description-container {
        padding: 20px 25px 0;

        .description {
            padding-bottom: 20px;

            h3 {
                font-size: 1.8em;
                margin: 0;
                font-weight: 300;
            }

            p {
                line-height: 1.5em;
            }

            .read-more {
                color: $ec-color-primary;
                text-decoration: none;
                font-weight: bold;
            }
        }

        .author {
            border-top: 1px solid lighten($ec-color-more-btn, 22%);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0px;

            .author-bio {
                display: flex;
                align-items: center;

                .author-image {
                    height: 30px;
                    width: 30px;
                    background-position: center;
                    background-size: cover;
                    border-radius: 50%;
                }

                .author-name {
                    padding-left: 10px;
                    font-size: 0.8em;

                    .lighter {
                        color: lighten($ec-color-primary, 30%);
                    }
                }
            }

            .more-button {
                line-height: 2.3em;

                a {
                    background-color: $ec-color-card-bg;
                    border: 2px solid $ec-color-more-btn;
                    color: darken($ec-color-more-btn, 10%);
                    font-size: 0.8em;
                    font-weight: 500;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 0.6em 1em;
                    border-radius: 3px;
                }
            }
        }
    }
}
